Jinja2==2.8
Markdown==2.6.2
MarkupSafe==0.23
Pygments==2.1.3
Unidecode==0.04.19
blinker==1.4
docutils==0.12
feedgenerator==1.9
ghp-import==0.4.1
lxml==3.6.4
pelican==3.6.3
python-dateutil==2.5.3
pytz==2016.7
six==1.10.0
wsgiref==0.1.2
