body {
  color: #272822;
  background-color: #eeeeee;
  font-family: "Lato", sans-serif; }

#sidebar {
  background: url("../img/stressed_linen/stressed_linen.png") repeat;
  position: fixed;
  left: 0;
  bottom: 0;
  right: auto;
  top: 0;
  /*width: 25%;*/
  width: 350px;
  min-width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: auto;
  color: #eeeeee; }
  #sidebar a {
    color: #eeeeee;
    text-decoration: none; }

#site-title {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #site-title:hover {
    color: #38c5c5; }

#site-icon {
  text-align:center;
}
#site-icon img {
  width:250px;
  height:250px;
}
#site-menu {
  display: none;
}

#site-desc {
  font-size: 1.3em;
  padding: 6px 30px;
}

#post-container {
  position: relative;
  margin-left: 366px;
  max-width: 1000px;
  /*min-width: 600px;*/
  overflow-wrap: break-word;
  margin-right: 20px;
}

#nav-links {
  list-style: none;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  font-variant: bold; }
  #nav-links li {
    margin: 6px 12px;
    display: inline-block;
    width: 40%;
  }
  #nav-links a {
    padding: 0 2px;
    border-radius: 24px;
    display: inline-block;
    border: 3px solid #eeeeee;
    line-height: 1.8em;
    text-align: center;
    width: 150px;
    min-width: 100px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  #nav-links a:hover {
    border-color: #38c5c5;
    color: #38c5c5; }

#post-list {
  list-style: none; }

.post-entry {
  margin: 3em 0; }

.entry-header {
  font-family: "Oswald", sans-serif;
  font-variant: bold; }
  .entry-header a {
    color: mediumaquamarine;
    text-decoration: none; }
  .entry-header a:hover {
    color: #38c5c5;
    text-decoration: none; }
  .entry-header time {
    color: #8e927e; }
  .entry-header h1 {
    margin: 0.5em 0; }

.post-content a {
  color: #38c5c5; }
.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 80%; }
.post-content blockquote {
  font-style: italic; }
.post-content pre {
  font-size: 13px;
  background-color: #e6e6e6;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  font-family: "Ubuntu Mono", "Inconsolata", monospace; }

.post-meta a {
  font-style: italic;
  color: #38c5c5; }

.paginator {
  text-align: center;
  padding: 12px;
  font-size: 1.4em;
  font-family: "Oswald", sans-serif; }
  .paginator a {
    color: #272822;
    text-decoration: none; }
    .paginator a:hover {
      color: #38c5c5; }

.toolbar-top-fix {
  display: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
  #sidebar {
    position: static;
    width: 100%;
    padding: 0; }

  #post-container {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0px; }

  #post-list {
    padding: 0; }

  #nav-links {
    display: none;
    text-align: center;
    padding: 0;
    font-size: 1.8em; }
    #nav-links li {
      display: inline;
      margin-top: 6px; }
    #nav-links a {
      display: inline-block; }

  #site-desc {
    padding-top: 70px;
  }

  #site-toolbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 0;
    background-color: black;
    z-index: 999;
  }

  #site-title {
    display: inline-block;
    float: left;
    position: relative;
  }
  #site-title h1 {
  }
  #site-icon {
    float: left;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
  }
  #site-icon img {
    width: 65px;
    height: 65px;
  }
  #site-menu {
    display: inline-block;
    float: left;
    width: 70px;
    position: relative;
    top: 0;
    left: 0;
  }
  #site-menu i {
    font-size: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
  }

  #site-header {
    margin-left: 0; }

  .side-shadow {
    -webkit-box-shadow: 0 3px 12px 3px #8e927e;
    -moz-box-shadow: 0 3px 12px 3px #8e927e;
    box-shadow: 0 3px 12px 3px #8e927e; }

  .post-entry {
    padding: 0 12px; }

    div.p-left {
        float: none;
        min-width: inherit;
        width: auto;
    }
}

/*
@media only screen and (max-width: 640px) {
  #nav-links {
    font-size: 1.1em; }

  #site-desc {
    font-size: 1em; }

  #site-title h1 {
    font-size: 1.3em;
    margin: 0.1em 0px; }

  #site-info {
    font-size: 0.6em; } }
*/

/* responsive view for embeded youtube video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* read more link */
.read_more {
    margin: 0 auto;
    padding: 15px 0;
    width: 120px;
    text-align: center;
}
