#site-header h1 {
    text-align: center;
}

#site-desc {
    text-align: left;
    line-height: 1.3em;
}

span.mandarin {
    color: #EE82EE;
}
span.japanese {
    color: #FFD700;
}
span.normal-content {
    display: inline-block;
    line-height: 1.7em;
    padding: 5px 0;
}

div.side-desc-line {
    margin: 12px 0;
}

.sub-lead-title {
    font-size: 1.3em;
    margin: 35px 0 10px 0;
    color: brown;
}

/* padding lists */
.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }

/* margin lists */
.mrg5 { margin: 5px; }
.mrg10 { margin: 10px; }
.mrg15 { margin: 15px; }
.mrg20 { margin: 20px; }

/* ul & li */
ul.listview {

}
ul.listview > li {
    padding: 3px 0;
}
ul.listview > li span.list-title {
    /*width: 80px;*/
    display: inline-block;
    font-weight: bold;
}


/* download page, image auto resize. */
div.p-left {
    float: left;
    min-width: 400px;
    width: 50%;
}
div.p-right {
    float: right;
    width: 50%;
    height: auto;
}
@media only screen and (max-width: 1216px) {
    div.p-left {
        float: none;
        min-width: inherit;
        width: auto;
    }

    div.p-right {
        float: none;
        width: 100%;
        height: auto;
    }
}
